<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">
      {{title}}
    </span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>

    <!-- Right aligned menu below button -->
    <button id="demo-menu-lower-right"
            class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button>

    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="demo-menu-lower-right">
      <li class="mdl-menu__item">Some Action</li>
      <li class="mdl-menu__item">Another Action</li>
      <li disabled class="mdl-menu__item">Disabled Action</li>
      <li class="mdl-menu__item">Yet Another Action</li>
    </ul>

  </div>
</header>

<!--
<header className="mdl-layout__header">
  <div className="mdl-layout__header-row">
    <span className="mdl-layout-title">
      {{title}}
    </span>
    <div className="mdl-layout-spacer"></div>

    <button
      id={{menuId}}
      className="mdl-button mdl-js-button mdl-button--icon">
      <i className="material-icons">
        <i className="material-icons">
          language
        </i>
      </i>
    </button>
    <ul
      className="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
      for={menuId}>
      <li
        className="mdl-menu__item"
        >
        <i className="material-icons">
          language
        </i>
        <span>
          test
        </span>
      </li>
    </ul>

  </div>
</header> -->
