// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

.langDialoTitle {
  margin: 0;
  padding: 24px 24px 0 24px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}
